@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "資源區";
}

<div class="container">
    <h1 class="my-3">資源區目錄</h1>
    <ul>
        <li><a asp-page="/Resources/LeechingSuggestion">1 - 200 建議練等表</a></li>
        <li><a asp-page="/Resources/DodoScripts">DODO 腳本資訊</a></li>
        <li><a asp-page="/Resources/DodoMapIds">DODO 地圖 ID</a></li>
        <li><a asp-page="/Resources/SpBack">清流知力回覆 SP 量對照表、軍師知力回覆 SP 量對照表</a></li>
    </ul>
</div>